COMPOSE_PROJECT_NAME=task-manager

POSTGRES_PASSWORD=123
POSTGRES_USER=task_manager_owner
POSTGRES_DB=task_manager
POSTGRES_VERSION=18.6
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY="django-insecure-change-me-before-production"
ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1
